<div class="pt-3">
  <div class="container">
    <h2>Thêm mới thông tin sản phẩm</h2>
    <form [formGroup]="formAddProduct" (submit)="add()">
      <div class="form-group">
        <label >Product ID: </label>
        <input type="number" class="form-control" formControlName="id">
      </div>
      <div class="form-group">
        <label >Name: </label>
        <input type="text" class="form-control" formControlName="name" >
      </div>
      <div class="form-group">
        <label >Type: </label>
        <input type="text" class="form-control" formControlName="type" >
      </div>
      <div class="form-group">
        <label >Price: </label>
        <input type="number" class="form-control" formControlName="price" >
      </div>
      <div class="form-group">
        <label >Quantity: </label>
        <input type="number" class="form-control" formControlName="quantity" >
      </div>
      <div class="form-group">
        <label >Description</label>
        <textarea  class="form-control" formControlName="description"></textarea>
      </div>
      <button [routerLink]="['/products']" class="btn btn-secondary ">CANCEL</button>
      <button class="btn btn-primary ml-3">ADD</button>
    </form>

  </div>
</div>
